<div class="header-wrapper">
    <h2 class="title"><u>Users</u></h2>
</div>

<table mat-table [dataSource]="users$ | async" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef  (click)="sortUsers('name')">
            Name
            @if (sortingType === 'name' && sortingDirection === 'asc') {
                <img src="assets/icons/arrow-up.svg" alt="arrow-up">
            } @else {
                @if (sortingType === 'name' && sortingDirection === 'desc') {
                    <img src="assets/icons/arrow-down.svg" alt="arrow-down">
                }
            }
        </th>
        <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef (click)="sortUsers('email')">
            Email
            @if (sortingType === 'email' && sortingDirection === 'asc') {
                <img src="assets/icons/arrow-up.svg" alt="arrow-up">
            } @else {
                @if (sortingType === 'email' && sortingDirection === 'desc') {
                    <img src="assets/icons/arrow-down.svg" alt="arrow-down">
                }
            }
        </th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let user">{{ user.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="website">
        <th mat-header-cell *matHeaderCellDef>Website</th>
        <td mat-cell *matCellDef="let user">
            <a class="website" [href]="formatUrl(user.website)" target="_blank">{{ user.website }}</a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="openEditUserModal(row)"></tr>
</table>
